*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  background-color: $primary;
  text-align: center;
  color: white;
  margin-bottom: 1px;

  line-height: 5px;
}
body {
  margin: 0;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
  height: 100vh;
}

input {
  border: 1px solid black;
  background-color: $accent;
}

button {
  border: 1px solid black;
  background-color: $accent;
}

main {
  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 1fr;
}

.result-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: $color3;
  border: 1px solid $color4;

  input {
    height: 40%;
    width: 60%;
    font-size: 2.5em;
  }
}

.calculator-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: $secondary;
}

.man-input {
  display: flex;
  flex-direction: row;
  height: 30%;
  justify-content: center;
  align-items: center;

  input {
    height: 40px;
    width: 50%;
    font-size: 1.8em;
  }
}

.auto-input {
  display: flex;
  height: 60%;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  background-color: $color3;
  justify-content: center;
  border: 1px solid $color4;

  button {
    height: 50px;
    width: 50px;
    margin: 3px;
  }
}

.math-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;

  button {
    height: 70px;
    width: 70px;
    margin: 1px;
  }
}
